In [34]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv('/Users/pavel/Desktop/karpov/10 МОДУЛЬ/3 KC_case_data .csv')

In [36]:
df.head()

,date,event,purchase_sum,os_name,device_id,gender,city,utm_source
0,2020-01-01,app_start,NaN,android,669460,female,Moscow,-
1,2020-01-01,app_start,NaN,ios,833621,male,Moscow,vk_ads
2,2020-01-01,app_start,NaN,android,1579237,male,Saint-Petersburg,referal
3,2020-01-01,app_start,NaN,android,1737182,female,Moscow,facebook_ads
4,2020-01-01,app_start,NaN,ios,4029024,female,Moscow,facebook_ads

In [37]:
df.shape[0]

2747968

In [38]:
df['date'].min()

'2020-01-01'

In [39]:
df['date'].max()

'2020-03-31'

In [40]:
min_date = df.sort_values('date').drop_duplicates('device_id')

In [41]:
min_date = min_date[['device_id', 'date']]
min_date.rename(columns = {'date' : 'Когорта по первой сессии'}, inplace = True)
min_date

         device_id Когорта по первой сессии
0           669460               2020-01-01
13192     17289661               2020-01-01
13191     12215118               2020-01-01
13190      9163079               2020-01-01
13189      1948894               2020-01-01
...            ...                      ...
2497656    5682834               2020-03-31
2499467    9339041               2020-03-31
2499780   32346202               2020-03-31
2498997   23772077               2020-03-31
2502736    1870546               2020-03-31

[190884 rows x 2 columns]

In [42]:
df = df.merge(min_date, how = 'left', on = 'device_id')
df.head()

,date,event,purchase_sum,os_name,device_id,gender,city,utm_source,Когорта по первой сессии
0,2020-01-01,app_start,NaN,android,669460,female,Moscow,-,2020-01-01
1,2020-01-01,app_start,NaN,ios,833621,male,Moscow,vk_ads,2020-01-01
2,2020-01-01,app_start,NaN,android,1579237,male,Saint-Petersburg,referal,2020-01-01
3,2020-01-01,app_start,NaN,android,1737182,female,Moscow,facebook_ads,2020-01-01
4,2020-01-01,app_start,NaN,ios,4029024,female,Moscow,facebook_ads,2020-01-01

In [33]:
df.to_csv("Когортный_анализ.csv", index = False)

ссылка на график
https://public.tableau.com/app/profile/pavel.kostylev2811/viz/_16991328482650/Sheet1